<!-- override this file -->
<!-- mathjax -->
<!--
{{ partial "math.html" . }}
-->
<!--
{{ partial "music.html" . }}
-->
<!-- 顶部跑马灯特效 -->
<style>
    #top-grrk{
    background:url(https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting@second/img/paomadeng.gif);
    height:2px;
    position:fixed;
    width:100%;
    Z-index:10000;
}
</style>    
<div id="top-grrk"></div>
<!-- 顶部跑马灯特效 -->

<!--
<script data-ad-client="ca-pub-3925981084585036" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
